<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function(){
                $('form').submit(function(){
                  var title = $('#title').val()
                  var year = $('#year').val()
                  $.get("http://www.omdbapi.com/?t="+title+"&y="+year+"&plot=short&r=json", function(res) {
                    var html_str = "";
                    // var title= "";
                    html_str += "<img src='"+res.Poster+"'>";
                    html_str+="<div style='width:750px; display:inline-block; vertical-align:top; margin-left: 50px;'>";
                    html_str += "<h4>Title: "+res.Title+"</h4>";
                    // title += "<h2>"+res.Title"</h2>";
                    html_str += "<h4>Rated: "+res.Rated+"</h4>";
                    html_str += "<h4>Year: "+res.Year+"</h4>";
                    html_str += "<h4>Genre: "+res.Genre+"</h4>";
                    html_str += "<h4>Director: "+res.Director+"</h4>";
                    html_str += "<h4>Actors: "+res.Actors+"</h4>";
                    html_str += "<h4>Plot: "+res.Plot+"</h4>";
                    html_str+="</div>";
                    html_str +="<div>";
                    html_str+="<h2>Now, add your review:</h2>";
                    html_str+="<form action='/send_to_someone' method='post' class='well'>";
                    html_str+="<h4>Title: "+res.Title+"</h4>";
                    html_str+="<input type='hidden' name='title' value='"+res.Title+"'>";
                    html_str+="<div class='form-group'>";
                    html_str+="<label>Review</label>";
                    html_str+="<textarea class='form-control' rows='5' name='review'></textarea>";
                    html_str+="</div>";
                    html_str+="<input type='submit' name='submit' value='Create Review' class='btn btn-primary'>";
                    html_str+="</form>";
                    
                    $("#movie").html(html_str);
                    
                }, "json");
                return false;
              })
            })
  </script>
    </head>

    <body>
                        <nav class="navbar navbar-inverse">
                         <div class="container-fluid">
                           <div class="navbar-header">
                             <a class="navbar-brand" href="#">About</a>
                           </div>
                           <ul class="nav navbar-nav">
                             <li class="active"><a href="#">Acknowledgement</a></li>

                           </ul>
                           <ul class="nav navbar-nav navbar-right">
                            <li><a href="/Login_Registration"><span class="glyphicon glyphicon-registration-mark"></span> Register</a></li>
                             <li><a href="/Login_Registration"><span class="glyphicon glyphicon-user"></span> Sign in</a></li>

                           </ul>
                         </div>
                </nav>
                <div class="container">

                <h2>Find the movie you'd like to review:</h2>
                <form action="" class="well">
                  <div class="form-group">
                  <label>Movie Title:</label>
                  <input type="text" name="title" class="form-control" id="title">
                  </div>
                  <input type="submit" name="form_action" value="Find Movie" class="btn btn-primary" id="year">
                </form>

                <div id="movie"></div>
                <!-- <div id="title"></div>
                <h2>Now, add your review:</h2>
                <form action="/send_sms" class="well">
                  <h4>Title: </h4>
                  <div class="form-group">
                  <label>Review</label>
                  <textarea class="form-control" rows="5"></textarea>
                  <!-- <input type="text" name="title" class="form-control" id="title"> -->
                  <!-- </div>
                  <input type="submit" name="form_action" value="Create Review" class="btn btn-primary" id="year">
                </form> --> 

                </div>
    </body>
</html>
